header {
    text-align: left;
    margin-left: 4%;
    margin-top: 2%;
    font-size: 2em;
}
main {
    margin-top: 2%;
    margin-left: 1%;
    font-size: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}