h1 {
    color:blue
}
body {
    color:rgb(105, 36, 36)
}


html {
    background-color:darksalmon
}
header {
    display: flex;
    flex-direction: column;
}
h1 {
    margin-left: auto;
    margin-right: auto;
}
    
    

    


main {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
#motiv {
    background-color: aqua;
    margin-left: 2%;
}
#CV {
    background-color:aquamarine
}

